<h3 class="center">New Harambee</h3>
<div id="mySidenav" class="sidenav">
   <li class="closebtn" id="close">&times;</li>
   <a href="registration.html">Profile</a>
   <a href="registration.html">Create Harambee</a>
   <a href="registration.html">Current Harambee</a>
   <a href="registration.html"> Donate </a>
 </div>
<div id="main">
    <div class="container">
      <div class="row">
          <i class="fa fa-bars ham" aria-hidden="true" id="open"></i>
      </div>
      <div class="row form-row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <%= render 'form' %>

        </div>
      </div>
    </div>
    </div>
